html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: grey;
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    background: white;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: 10%;
    margin: 10px auto; /*can't center with float - use this instead*/
    box-sizing: border-box;
}

.box {
    width: 30%;
    height: 100%;
    float: left;
    /* then calc exact value to centerflexbox makes this nonsense go away*/
    margin: auto 1.5%;
}

.red {
    background: #CD0D24;
}

.blue {
    background: #4E92DF;
}

.black {
    background: #4A4A4A;
}

article {
    clear: both;
    width: 100%;
    margin: 0 auto;
}

.content {
    margin: auto 1.5%;
}

.middle {
    width: 100%;
    height: 30%;
    float: left;
}

.first__inner {
    width: 30%;
    height: 100%;
    float: left;
}

.second__inner {
    width: 70%;
    height: 100%;
    float: right;
}

.footer {
    width: 100%;
}